/* src/LoginPage.css */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin: 10px 0;
}

input {
    margin-left: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
